<div *ngIf="product">
  <form #f="ngForm" (ngSubmit)="updateProduct()">
    <table>
      <tr>
        <th>Name</th>
        <td>
          <input type="text" name="name" [(ngModel)]="product.name" required/>
        </td>
      </tr>
      <tr>
        <th>Price</th>
        <td>
          <input type="text" name="price" [(ngModel)]="product.price" required/>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button [disabled]="!f.valid">Update</button>
        </td>
      </tr>
    </table>
  </form>
  <form (ngSubmit)="deleteProduct()">
    <button>Delete</button>
  </form>
</div>
